/* Общие стили для всего сайта */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #002366, #004488);
  color: white;
  padding: 20px 0;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .logo img {
  height: 50px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 1.2em;
}

nav a:hover {
  background-color: rgba(0, 51, 153, 0.8);
  border-radius: 5px;
}

.about-project {
  background: linear-gradient(#ffc786, #db6a73, #ffdadc);
}

.condition {
  background: linear-gradient(#ffdadc, #ffdadc, #f6fbcb);
}

.waiting {
  background: linear-gradient(#f6fbcb, #ffdadc, #abfffc);
}
.one h1 {
  color: #080000;
}

.two h1 {
  color: #3e3e3e;
}

.three h1 {
  color: #ffffff;
}

.three {
  background: linear-gradient(#e7cc47, #6a11cb);
}

/* Заголовки */
h1 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  letter-spacing: 1px;
  max-width: 80%;
  /* width: 80%; */
  position: relative;
  display: inline-block;
}
.call {
  display: table;
  width: 100%;
  max-width: 1940px;
  margin: 15px auto;
  letter-spacing: 2px;
  text-align: center;
}
/* .d14 h1:before {
  content: "";
  position: absolute;
  top: -15%;
  left: 6%;
  width: 50px;
  height: 30px;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
}
.d14 h1:after {
  content: "";
  position: absolute;
  bottom: -6%;
  right: 6%;
  width: 50px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
} */
/* Стили для секции hero */
.hero {
  background: url("img/bg-fon.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  animation: fadeIn 2s ease-in-out;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero .button {
  background-color: #ff4500;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5em;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero .button:hover {
  transform: scale(1.1);
  background-color: #ff6347;
}

/* Стили для секций с текстом */
section {
  padding: 20px 20px;
  background-color: #f9f9f9; /* Светлый фон для отделения */
  /* border-radius: 10px; /* Закругленные углы */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Тень для объема */
}
*/ section:nth-child(odd) {
  background-color: #ffffff; /* Чередование фона */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  border-bottom: 2px solid #ffffff; /* Линия под заголовком */
  display: inline-block;
  padding-bottom: 5px;
}

.container,
.application-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
}

/* Блок о проекте */
.waiting .project-container {
  display: flex;
  justify-content: center;
}
.project-section {
  text-align: center;
}

.project-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Стили для карточек проекта */
.project-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 400px; /* Устанавливаем одинаковую высоту для всех картинок */
  object-fit: cover; /* Сохраняем пропорции и обрезаем лишнее */
  display: block;
}

.card-text {
  padding: 20px;
  color: #333;
  font-family: "Arial", sans-serif;
}

.card-text h3 {
  font-size: 1.8em;
  color: #007acc;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-text p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.card-text ul {
  padding: 0;
  margin-bottom: 15px;
  list-style: none; /* Убираем стандартные маркеры */
  border: 1px solid #ddd; /* Добавляем рамку для списка */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для списка */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Анимация для рамок */
}

.card-text ul:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
  transform: translateY(-2px); /* Поднимаем список при наведении */
}

.card-text ul li {
  position: relative;
  margin: 0;
  padding: 10px 15px;
  font-size: 0.95em;
  line-height: 1.5;
  color: #555;
  border-bottom: 1px solid #ddd; /* Разделяем элементы линии */
}

.card-text ul li:last-child {
  border-bottom: none; /* Убираем нижнюю границу у последнего элемента */
}

.card-text ul li::before {
  content: "\2022"; /* Используем символ кружка */
  color: #007acc;
  font-size: 1.2em;
  margin-right: 10px;
  display: inline-block;
}

.card-text hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

/* Стили для блока с отзывами */
.testimonials-section {
  padding: 40px 20px;
  background: linear-gradient(#abfffc, #ffdadc, #e7cc47);
  text-align: center;
}

.testimonial-slider {
  display: flex;
  overflow-x: auto; /* Горизонтальная прокрутка */
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px 0;
  scroll-behavior: smooth;

  /* Добавляем стили для скрытия стандартных скроллов (опционально) */
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: #3498db #f0f0f0; /* Цвет для Firefox */
}

/* Кастомный горизонтальный скролл */
.testimonial-slider::-webkit-scrollbar {
  height: 8px; /* Высота горизонтального скроллбара */
}

.testimonial-slider::-webkit-scrollbar-thumb {
  background: #3498db; /* Цвет ползунка */
  border-radius: 4px; /* Закругленные углы */
}

.testimonial-slider::-webkit-scrollbar-thumb:hover {
  background: #2980b9; /* Цвет ползунка при наведении */
}

.testimonial-slider::-webkit-scrollbar-track {
  background: #f0f0f0; /* Цвет дорожки */
  border-radius: 4px; /* Закругленные углы */
}

.testimonial-card {
  flex: 0 0 calc(33.333% - 20px); /* Показывает три карточки */
  background: #fff;
  border-radius: 8px;
  overflow: hidden; /* Скрывает выступающие части */
  scroll-snap-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Стили для кастомного скроллбара */
.testimonial-card::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

.testimonial-card::-webkit-scrollbar-thumb {
  background: #3498db; /* Цвет ползунка */
  border-radius: 4px; /* Закругленные углы */
}

.testimonial-card::-webkit-scrollbar-thumb:hover {
  background: #2980b9; /* Цвет ползунка при наведении */
}

.testimonial-card::-webkit-scrollbar-track {
  background: #f0f0f0; /* Цвет фона дорожки скроллбара */
  border-radius: 4px; /* Закругленные углы */
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Фото на всю ширину */
.testimonial-card img {
  width: 100%;
  height: auto;
  display: block;
}

/* Увеличенный текст */
.testimonial-text {
  padding: 20px;
  text-align: left; /* Выравниваем текст слева */
}

.testimonial-text p {
  font-size: 16px; /* Увеличенный шрифт для описания */
  color: #555;
  line-height: 1.6;
}

.testimonial-text h3 {
  font-size: 18px; /* Увеличенный заголовок */
  color: #333;
  margin-top: 15px;
}

/* Стили для блока Контакты */
.contact-section {
  padding: 40px 20px;
  background: linear-gradient(#2772fa, #db6a73);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.contact-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255); /* Синий для акцента */
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-item {
  flex: 1 1 300px;
  max-width: 300px;
  background: #ffffff; /* Белый фон карточек */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для карточек */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */
}

.contact-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.contact-item i {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.contact-item p {
  font-size: 16px;
  color: #333;
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
  .testimonial-card {
    flex: 0 0 calc(80% - 20px); /* Показывает одну карточку на мобильных */
    height: 400px;
    overflow-y: scroll;
  }

  .testimonial-text p {
    font-size: 14px;
  }

  .testimonial-text h3 {
    font-size: 16px;
  }
}

/* Стиль для секции заявки */
.application-section {
  background: linear-gradient(#6a11cb, #2575fc);
  color: white;
  text-align: center;
}

.application-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.application-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Формы заявки */
.application-form {
  background-color: white;
  padding: 40px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-bottom: 40px;
  width: 100%;
  margin: 0 auto;
  animation: fadeIn 1s ease-out;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid #3498db;
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.application-form:hover {
  transform: scale(1);
}

.application-form h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.form-group {
  width: 48%;
  text-align: left;
}

.form-group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
}

.btn {
  padding: 14px 28px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.btn:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Адаптивность формы */
@media (max-width: 1200px) {
  .application-container {
    /* padding: 0 20px; */
  }

  .application-form {
    width: 90%;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  .application-section h2 {
    font-size: 2rem;
  }

  .application-form h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .application-form {
    width: 90%;
    padding: 30px;
  }
  .form-group input {
    width: 100%;
    max-width: 550px;
  }
  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  .btn {
    padding: 12px 24px;
    font-size: 1rem;
  }

  .application-section h2 {
    font-size: 1.8rem;
  }

  .application-form h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .application-section h2 {
    font-size: 1.5rem;
  }

  .application-form {
    width: 100%;
    padding: 20px;
    max-width: 300px;
  }
  .form-group input {
    width: 100%;
    max-width: 270px;
  }
  .application-form h3 {
    font-size: 1.1rem;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
@media (max-width: 1200px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 10px 0;
    font-size: 1em;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .section h2 {
    font-size: 2rem;
  }

  .section p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    width: 100%;
  }

  .section h2 {
    font-size: 1.8rem;
  }

  .section p {
    font-size: 0.9rem;
  }

  .project-card img {
    height: 200px;
  }
}
